@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

*{
    font-family: SUSE;
    box-sizing: border-box;
}

:root{
    --fg: #15060c;
    --bg: #fcf4f8;
    --pr: #c9367b;
    --se: #ddb35a;
    --ac: #adb42a;
}

body, html{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

::selection{
    background-color: var(--ac);
    color: var(--bg);
}

h1{
    font-size: 8rem;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 2vh;
    user-select: none;
}

a{
    text-decoration: none;
    font-weight: 700;
    user-select: none;
}

form{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 20%;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
}

form input, form button{
    aspect-ratio: 7;
    border-radius: 1rem;
    outline: none;
    background-color: transparent;
    font-weight: 600;
}

button{
    color: var(--bg);
    border: none;
    margin-top: 1vh;
    cursor: pointer;
    background: var(--fg) !important;
    transition: 500ms ease-in-out;
}

button:hover{
    background: var(--ac) !important;
}

input{
    padding: 0 2vh;
}

h2{
    text-align: center;
}

h2.tag{
    margin: 0;
}

h2.tag:nth-of-type(1){
    margin-top: 1vh;
}

h2.tag:nth-of-type(n){
    margin-bottom: 1vh;
}

/* h2:not(:last-child){
    margin-bottom: .5vh;
} */

.restart{
    position: absolute;
    inset: 1vh auto auto 1vh;
    cursor: pointer;
}

.restart span{
    font-size: 3rem;
}

a{
    color: var(--fg);
}

.bar{
    height: 2vh;
    border-radius: 1rem;
    /* background: linear-gradient(to right, red, orange, yellow, green, darkgreen); */
    /* background: linear-gradient(to right, darkgreen, green, yellow, orange, red); */
    background: linear-gradient(to right, var(--ac), var(--se), var(--pr));
    position: relative;
}

.bar span{
    /* font-size: 2.5vh;
    color: black; */
    /* margin-bottom: -4vh; */
    background-color: var(--bg);
    aspect-ratio: 1;
    height: 2vh;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    inset: 50% auto auto 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.country img{
    width: 25%;
}

.country-list{
    width: 100%;
    margin-top: 5vh;
    max-height: 30vh;
    overflow-y: scroll;
}

.country-list::-webkit-scrollbar {
    width: 12px;
}

.country-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.country-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.country{
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2vh;
    margin-bottom: 1vh;
}

.won{
    position: absolute;
    inset: 50% auto auto 50%;
    /* transform: translate(-50%, -50%); */
    font-size: 20rem;
    font-weight: 800;
    animation-name: won;
    animation-duration: 3s;
    animation-iteration-count: 1;
    /* transition-timing-function: cubic-bezier(.15,.85,.68,.28) !important; */
    animation-timing-function: cubic-bezier(.26,.82,.78,.35);
    /* display: none; */
    visibility: hidden;
}

@keyframes won{
    0%{
        visibility: visible;
        transform: translate(-100%, -50%);
    }
    100%{
        transform: translate(100%, -50%);
    }
    /* 0%{
        color: red;
    }
    100%{
        color: blue;
    } */
}

.leaderboard{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    inset: auto auto 0% 0%;
    border: 1px solid var(--fg);
    border-left: none;
    border-bottom: none;
}

.leaderboard .entry{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5vh 2vh;
    border-bottom: 1px solid var(--fg);
}

.leaderboard .entry .player{
    font-weight: 700;
    font-size: 1.1rem;
}

.leaderboard .entry:last-child{
    border: none;
}

.world, .worldtwo{
    position: absolute;
    /* background-color: red; */
    aspect-ratio: 1;
    width: 25vw;
    inset: auto auto -10% -10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.worldtwo{
    inset: -10% -10% auto auto;
}

.world span, .worldtwo span{
    font-size: 25vw;
    opacity: .2;
    color: var(--ac);
    filter: blur(5px);
    transition: 500ms ease;
}

.worldtwo span{
    color: var(--pr);
}

.world span:hover, .worldtwo span:hover{
    filter: blur(0px);
    opacity: .3;
}

@media (width < 1750px){
    form{
        width: 50%;
    }
    
    h1{
        font-size: 3rem !important;
    }

    .world{
        inset: auto auto -2% -2%;
    }

    .worldtwo{
        inset: -2% -2% auto auto;
    }
}

@media (width < 1000px){
    form{
        width: 75%;
    }

    h1{
        font-size: 1.5rem !important;
        font-weight: 700;
    }

    .country-list{
        max-height: 20vh;
    }
}