<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gleezle</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='icon.png')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <h1>gleezle</h1>

    <form action="/name" enctype="multipart/form-data" method="post">
        <input type="text" required name="name" placeholder="your name (for leaderboard)">
        <button type="submit">complete</button>
    </form>
</body>
</html>